.home-container {
  width: 100%;
  max-width: 1006px;

  margin: 0 auto;

  padding: 30px;

  display: flex;
  flex-direction: column;
  text-align: left;

  h1 {
    font-size: 1.75rem;
    color: #292D32;
  }

  p {
    font-size: 1rem;
    color: #292D32;
  }

  iframe {
    margin: 30px 0;
  }
}
