.sign-up-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;

  .form-sign-up-content {
    background-color: #ffffff;
    max-width: 617px;
    margin-top: 20px;
    padding: 30px;
    border-radius: 5px;

    h1 {
      font-size: 1.75rem;
    }

    p {
      font-size: 1.125rem;
      margin-bottom: 30px;
    }

    Button {
      font-size: 1rem;
    }

    .terms {
      display: flex;
      align-items: flex-start;
      gap: 15px;

      p {
        font-size: 1rem;
      }

      input[type="checkbox"] {
        position: relative;
        cursor: pointer;
      }

      input[type="checkbox"]:before {
        content: "";
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
        top: 0;
        left: 0;
        background-color: #faf1f5;
        border-radius: 4px;
        border: 1px solid #f30168;
      }

      input[type="checkbox"]:checked:before {
        content: "";
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
        top: 0;
        left: 0;
        background-color: #faf1f5;
        border-radius: 4px;
        border: 1px solid #f30168;
      }

      input[type="checkbox"]:checked:after {
        content: "";
        display: block;
        width: 5px;
        height: 10px;
        border: solid #f30168;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 2px;
        left: 6px;
      }
    }
  }
}
